@page
@model StreamNight.Pages.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login - @Model.StreamName</title>

    <link rel="stylesheet" href="/css/chat/main.css">
    <link rel="stylesheet" href="/css/chat/profile.css">
</head>
<body>
    <header>
        <a href="#" class="menu-icon" id="toggle">
            <img src="/icons/hamburger.svg" alt="Menu Icon" class="menu-toggle" />
        </a>
        <a href="/" id="logo-link">
            <img src="@Model.LogoPath" alt="Logo" id="logo" />
        </a>
    </header>
    <nav id="menu">
        <ul>
            <li><a href="/">Profile</a></li>
            <li class="current"><a href="/login">Login</a></li>
        </ul>
    </nav>
    <main>
        <div id="mobile-head-spacer"></div>
        <section>
            @if (User.Identity.IsAuthenticated)
            {
                Redirect("/");
            }
            else
            {
                <section>
                    <h1>Sign in with Discord.</h1>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <p>
                                There are no external authentication services configured. Try DMing <code>streambot!login</code> to <strong>@Model.BotName</strong> from your account in the stream guild.
                            </p>
                        }
                        else
                        {
                            <h2>Log in with Discord's OAuth (account authorisation)</h2>
                            <p>If you've previously used a DM to log in then you'll need to add Discord through Account Management before logging in this way.</p>
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="pure-form">
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" name="provider" value="@provider.Name">@provider.DisplayName login</button>
                                    }
                                </p>
                            </form>

                            <h2>Sign in with a DM</h2>
                            <p>DM <code>streambot!login</code> to <strong>@Model.BotName</strong> from your account in the stream guild. Follow the link to log in.</p>
                        }
                    }
                    <p>This action requires cookies. These cookies are only used to track user logins.</p>
                </section>
            }
        </section>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>
