@page
@model StreamNight.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Profile - @Model.StreamName</title>

    <link rel="stylesheet" href="/css/chat/main.css">
    <link rel="stylesheet" href="/css/chat/profile.css">
</head>
<body>
    <header>
        <a href="#" class="menu-icon" id="toggle">
            <img src="/icons/hamburger.svg" alt="Menu Icon" class="menu-toggle" />
        </a>
        <a href="/" id="logo-link">
            <img src="@Model.LogoPath" alt="Logo" id="logo" />
        </a>
    </header>
    <nav id="menu">
        <ul>
            <li class="current"><a href="/profile">Profile</a></li>
            <partial name="_ChatLoginPartial" />
        </ul>
    </nav>
    <main>
        <div id="mobile-head-spacer"></div>
        <section>
            @if (User.Identity.IsAuthenticated)
            {
                <div id="profile-data">
                    <img id="inside-pfp" src="@Model.currentMember.AvatarUri" alt="Profile Picture" />
                    <h2>@Model.currentMember.Username</h2>
                </div>
                if (Model.currentMember.IsMember)
                {
                    <p>Thanks for being part of our guild!</p>
                    <p>Click the link on the left to go to the stream page.</p>
                }
                else
                {
                    if (string.IsNullOrEmpty(Model.currentMember.Username))
                    {
                        <script>(function () { location.reload(true); })();</script>
                    }
                    <p>We can't find you in our guild.</p>
                    <p>If this doesn't look right, follow <a href="/logout">this link</a> and DM <code>streambot!login</code> to <strong>@Model.BotName</strong> from your account in the stream guild.</p>
                }
            }
            else
            {
                <p>You're not signed in.</p>
            }
        </section>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>
